* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  /* border: 1px solid black;
  border-left: none;
  border-right: none; */
}

.in_header {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.in_header .logo {
  width: 86px;
  height: 38px;
  float: left;
  margin-top: 22px;
}

.in_header .menu_wrap {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: left;
  margin-top: 5px;
}

.in_header .menu_wrap p {
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
}

.icons {
  width: 120px;
  height: 100%;
  /* background-color: brown; */
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons .search {
  width: 35px;
  height: 35px;
}
.icons .cart {
  width: 35px;
  height: 35px;
}

.ham {
  display: none;
}

/* header_end */

.section_1 {
  width: 100%;
  height: 37vw;
  background-image: url(../img/sec_1_1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  padding-top: 80px;
  background-position: 0 80px;
  margin-top: 80px;
}

.section_2 {
  margin-top: 10%;
  /* margin-bottom: 200px; */
}
.container_2 {
  width: 95%;
  margin: 0 auto;
  /* transform: translateY(150px);
  opacity: 0;
  transition:0.2s 0.4s; */
}

.sec_2_title_wrap {
  width: 600px;
  float: left;
  margin-left: 14%;
  margin-bottom: 6%;
}

.sec_2_title_wrap h1 {
  font-size: 75px;
  font-weight: 800;
  /* letter-spacing: -1px; */
  font-family: "Montserrat", sans-serif;
  float: left;
}

.sec_2_title_wrap p {
  font-size: 20px;
  /* letter-spacing: -1px; */
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #505050;
  float: right;
  padding-top: 30px;
}

.box_wrap {
  display: flex;
  justify-content: flex-end;
  margin: 0px auto;
  width: 72%;
}

.box_wrap .left_wrap {
  width: 40%;
  margin: 20% auto;
}

.left_text_wrap {
  width: 96%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.left_text_wrap h1 {
  font-size: 32px;
  color: black;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
}

.left_text_wrap p {
  font-size: 20px;
  font-weight: 400;
  color: #1d1d1d;
  line-height: 30px;
  margin-top: 30px;
}

.right_wrap {
  width: 40%;

  margin: 0px auto;
}

.wrap {
  margin: 0 auto;
}

.sec_2_img {
  width: 100%;
}

.sec_2_img img {
  width: 100%;
}

/* .img_sec_2_1 img {
  width: 520px;
  height: 520px;
}

.img_sec_2_3 img {
  width: 520px;
  height: 347px;
}

.img_sec_2_5 img {
  width: 520px;
  height: 347px;
}

.img_sec_2_7 img {
  width: 520px;
  height: 642px;
}

.img_sec_2_2 img {
  width: 520px;
  height: 642px;
}

.img_sec_2_4 img {
  width: 520px;
  height: 520px;
}

.img_sec_2_6 img {
  width: 520px;
  height: 520px;
}

.img_sec_2_8 img {
  width: 520px;
  height: 520px;
} */

/* section_2 end */

.section_3 {
  width: 100%;
  height: 800px;
  margin: 100px auto;
}
.container_3 {
  background-image: url(../img/sec_33.jpg);
  width: 100%;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.sec_3_title_wrap {
  width: 680px;

  float: left;
  margin-top: 150px;
  margin-left: 220px;
}

.sec_3_title_wrap h1 {
  font-size: 75px;
  font-weight: 800;
  /* letter-spacing: -1px; */
  font-family: "Montserrat", sans-serif;
  float: left;
  color: white;
  line-height: 85px;
}

.sec_3_title_wrap p {
  width: 400px;
  font-size: 20px;
  font-weight: 400;
  /* letter-spacing: -1px; */
  line-height: 32px;
  color: white;
  opacity: 0.8;
  float: right;
  margin-top: 70px;
  margin-right: 65px;
}

/* section_3 end */

.section_4 {
  width: 100%;
}

.container_4 {
  width: 85%;
  margin: 0 auto;
}

.container_4 .con_1 {
  position: relative;
  top: -180px;
}

.con_1 .con_4_img {
  width: 46%;
  height: 910px;
  float: left;
}

.con_1 .text_wrap {
  width: 49%;
  float: left;
  margin-top: 110px;
  margin-left: 40px;
}
.con_1 .text_wrap h1 {
  font-size: 20px;
  color: #1c1c1c;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 40px;
  opacity: 0.7;
}

.con_1 .text_wrap h2 {
  font-size: 70px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-bottom: 30px;
}

.con_1 .text_wrap p {
  font-size: 18px;
  font-weight: 300;
  /* letter-spacing: -1px; */
  line-height: 30px;
  color: #303030;
  float: right;
}

.more_box {
  width: 150px;
  height: 50px;
  background-color: rgb(23, 23, 23);
  color: white;
  text-align: center;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 50px;
  float: left;
  margin-top: 80px;
}

.container_4 .con_2 {
  position: relative;
  top: 300px;
}
.con_2 .con_4_2_img {
  width: 46%;
  height: 905px;
  float: right;
  margin-right: 20px;
}

.con_2 .text_wrap {
  width: 43%;

  float: left;
  margin-left: 30px;
}
.con_2 .text_wrap h1 {
  font-size: 20px;
  color: #1c1c1c;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 40px;
  opacity: 0.7;
}

.con_2 .text_wrap h2 {
  font-size: 70px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-bottom: 30px;
}

.con_2 .text_wrap p {
  font-size: 18px;
  font-weight: 300;
  /* letter-spacing: -1px; */
  line-height: 25px;
  color: #303030;
  float: right;
}

/* section_4 end */

.section_5 {
  margin-top: 330px;
  /* margin-bottom: 400px; */
  overflow: hidden;
}
.sec_5_title_wrap {
  width: 680px;

  float: left;
  margin-top: 150px;
  margin-left: 220px;
  margin-bottom: 150px;
}

.sec_5_title_wrap h1 {
  font-size: 75px;
  font-weight: 800;
  /* letter-spacing: -1px; */
  font-family: "Montserrat", sans-serif;
  float: left;
  color: black;
  line-height: 85px;
}

.sec_5_title_wrap p {
  width: 420px;
  font-size: 20px;
  font-weight: 400;
  /* letter-spacing: -1px; */
  line-height: 32px;
  color: #1d1d1d;
  float: right;
  margin-top: 70px;
  margin-right: 65px;
}

.sec_5_title_wrap .more_box {
  width: 150px;
  height: 50px;
  background-color: rgb(23, 23, 23);
  color: white;
  text-align: center;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 50px;
  float: right;
  margin-right: 80px;
  margin-top: 70px;
}

.container_5_2 {
  width: 700px;
  height: 37vw;
  position: relative;
  top: 0px;
  left: 0;
  float: left;
  margin-top: 400px;
  margin-bottom: 200px;

  /* overflow: hidden; */
}
.container_5_2 .img_wrap {
  width: 3800px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 15s;
  animation-timing-function: linear;
  float: left;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70%);
  }
}

.container_5_2 .img_box_1 {
  width: 697px;
  height: 1067px;
  float: left;
}

.container_5_2 .img_box_2 {
  width: 574px;
  height: 875px;
  float: left;
}

.container_5_2 .img_box_3 {
  width: 690px;
  height: 865px;
  float: left;
}

.container_5_2 .img_box_4 {
  width: 660px;
  height: 890px;
  float: left;
}

.container_5_2 .img_box_5 {
  width: 800px;
  height: 964px;
  float: left;
}

/* section_5 end */

footer {
  margin-top: 300px;
  width: 100%;
  height: 300px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
}

.in_footer {
  width: 700px;
  height: 100%;
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer_logo {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.footer_menu_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_menu_wrap p {
  font-size: 16px;
  text-align: center;
  color: #1d1d1d;
  font-weight: 300;
}

.in_footer h3 {
  font-size: 14px;
  text-align: center;
  color: #303030;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
