@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }

  .wrap {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
  }
  header .in_header {
    width: 90%;
    margin: 0 auto;
  }
  header .menu_wrap p {
    display: none;
  }

  header .icons {
    display: none;
  }

  .ham {
    display: block;
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 25px;
  }

  /* header end */

  .section_1 {
    background-image: url(../img/sec_2_7.jpg);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
    /* padding: 95%; */
    background-position: 0 0;
  }

  /* section_1 end */
  .section_2 {
    margin-top: 15%;
    /* margin-bottom: 200px; */
  }

  .section_2 .container_2 {
    width: 100%;
    margin: 0 auto;
  }

  .box_wrap {
    display: flex;
    justify-content: flex-end;
    /* margin: 30px auto; */
    width: 100%;
    /* margin-top: 40px; */
  }

  .section_2 .sec_2_title_wrap {
    float: left;
    /* margin-bottom: 38%; */
    /* margin-top: 30%; */
    margin: 30px auto;
    /* margin-left: 40%; */
    width: 100%;
    margin-top: 30p;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec_2_title_wrap h1 {
    font-size: 30px;
    font-weight: 800;
    /* letter-spacing: -1px; */
    font-family: "Montserrat", sans-serif;
    float: left;
  }

  .sec_2_title_wrap p {
    width: 100%;
    font-size: 14px;
    padding: 15px;
    box-sizing: border-box;
    font-weight: 300;
    color: #505050;
    /* letter-spacing: -1px; */
    font-family: "Montserrat", sans-serif;
    /* float: right; */
    text-align: center;
    line-height: 24px;
  }

  /* section_2 end */

  .section_3 {
    width: 100%;
    height: 40vh;
    margin: 70px auto;
  }

  .container_3 {
    background-image: url(../img/sec_1_mo_2.jpg);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* padding: 95%; */
    overflow: hidden;
    background-position-y: 100px;
  }

  .sec_3_title_wrap {
    float: left;
    margin-left: 15px;
    width: auto;
    margin: 60px auto;
    margin-left: 47px;
  }

  .sec_3_title_wrap h1 {
    font-size: 30px;
    font-weight: 800;
    /* letter-spacing: -1px; */
    font-family: "Montserrat", sans-serif;
    float: left;
    color: white;
    line-height: 30px;
  }

  .sec_3_title_wrap p {
    /* width: 400px; */
    font-size: 16px;
    font-weight: 400;
    /* letter-spacing: -1px; */
    line-height: 23px;
    color: white;
    float: right;
    margin-top: 20px;
    /* margin-right: 65px; */
    opacity: 0.8;
    width: auto;
  }

  /* section_3 end */

  .section_4 {
    width: 100%;
  }

  .container_4 {
    width: 100%;
    margin: 0 auto;
  }

  .container_4 .con_1 {
    width: 100%;
    float: left;
    margin-top: 20%;
    /* margin-left: 3%; */
    /* top: 0; */
    /* margin: 0 auto; */
    /* left: 0; */
  }

  .con_1 .con_4_img {
    /* width: 205%; */
    /* float: left; */
    width: 100%;
    margin: 0 auto;
    /* margin-left: 38%; */
  }

  .con_1 .text_wrap {
    padding: 20px;
    width: 100%;
    float: left;
    margin-top: 20%;
    /* margin-left: 0px; */
    /* float: right; */
    box-sizing: border-box;
  }

  .con_1 .text_wrap h1 {
    font-size: 16px;
    color: #1c1c1c;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 18px;
    opacity: 0.7;
  }

  .con_1 .text_wrap h2 {
    font-size: 27px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    line-height: 40px;
  }

  .con_1 .text_wrap p {
    font-size: 16px;
    font-weight: 300;
    /* letter-spacing: -1px; */
    line-height: 24px;
    color: #303030;
    float: right;
  }

  .more_box {
    width: 150px;
    height: 40px;
    background-color: rgb(23, 23, 23);
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 40px;
    float: left;
    margin-top: 15%;
  }
}
